BODY {
    margin: 0;
    font-family: 'Arial';
}

MAIN {
    margin: 10px;
}

A {
    color: green;
}

A:hover {
    color: #0080FF;
}

TABLE {
    border-collapse: collapse;
}

TABLE TD, TH {
    border: 1px solid gray;
    padding: 10px;
}

.logo-container {
    background-color: #555;
    padding: 10px;
}

.logo {
    
}